:root {
  /* Color */
  --color-black: rgb(0, 0, 0);
  --color-grey: rgb(128, 128, 128);
  --color-light-grey:rgb(212, 212, 212);
  --color-dark-grey: rgb(169, 169, 169);
  --color-white: rgb(255, 255, 255);
  --color-dark-white: rgb(240, 240, 240);
  --color-carolina-blue: rgb(167, 183, 232);
  --color-carolina-blue-opacity: rgba(167, 183, 232, 0.5);
  --color-blue-angel: rgb(174, 209, 242);
  --color-jungle-mist: rgb(169, 207, 219);
  --color-ice-cold: rgb(174, 242, 240);
  --color-water-leaf: rgb(167, 232, 212);
  --color-orange: rgb(255, 166, 0);
  --color-navy: rgb(0, 0, 128);

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-medium: 600;
  --weight-regular: 400;

  /* Size */
  --size-base-space: 10px;
  --size-border-radius: 3px;

  /* animation */
  --animation-duration: 100ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
}
section {
  padding: calc(var(--size-base-space) * 4);
  text-align: center;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  color: black;
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-small);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--font-micro);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  width: 100%;
  height: 65px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: transparent; 
  color: var(--color-black);
  margin: auto;
  /* padding: var(--size-base-space); */
  z-index: 1;
  transition: all 300ms ease-in-out;
}
#navbar.scrolled {
  background-color: var(--color-jungle-mist);
  height: 50px;
  /* padding: 0; */
}
.navbar__logo {
  display: flex;
  align-items: center;
  margin-right: calc(var(--size-base-space) * 5);
  padding: calc(var(--size-base-space) * 2);
  transition: all 300ms ease-in-out;
}
.navbar__logo img {
  width: 20px;
  height: 20px;
  border-radius: var(--size-border-radius);
  cursor: pointer;
  margin-left: var(--size-base-space)
}
.navbar__logo a {
  text-decoration: none;
  font-size: var(--font-regular);
  font-weight: var(--weight-medium);
  color: var(--color-black);
  margin-left: var(--size-base-space);
  cursor: pointer;
}
.navbar__menu {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  /* flex-grow: 1; */
  padding-left: 0;
  margin: 0;
}
.navbar__menu__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-base-space);
  flex-grow: 1;
  cursor: pointer;
  transition: background-color var(--animation-duration) ease-in;
}
.navbar__menu__item:hover {
  background-color: var(--color-black);
  color: var(--color-jungle-mist);
}

/* Toggle */
.navbar__toggle-btn {
  border: none;
  background: transparent;
  font-size: large;
  margin-right: var(--size-base-space);
  position: absolute;
  top: 20px;
  right: 10px;
  display: none;
}
.navbar__toggle-btn:hover {
  cursor: pointer;
}

/* Home */
#home {
  width: 100%;
  height: 50%;
  background-color: var(--color-jungle-mist);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: var(--size-base-space);
}
.home__contact {
  width: 130px;
  font-size: var(--font-small);
  border: 3px solid var(--color-black);
  border-radius: var(--size-border-radius);
  background-color: var(--color-white);
  transition: background-color var(--animation-duration) ease-in;
  margin-top: var(--size-base-space);
  padding: calc(var(--size-base-space) / 2);
}
.home__contact:hover {
  cursor: pointer;
  background-color: var(--color-black);
  color: var(--color-white);
}

/* About me */
#about {
  width: 100%;
  height: 50%;
}
.about__description {
  padding: 0 calc(var(--size-base-space) * 12);
}
.about__major {
  width: 33%;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--size-base-space) * 3);
}
.about__major__icon {
  width: 120px;
  height: 120px;
  font-size: 55px;
  line-height: 120px;
  color: var(--color-carolina-blue);
  border: 1px solid var(--color-carolina-blue-opacity);
  border-radius: 50%;
}
.about__major__title, .about__major__description {
  color: darkgrey;
}
.about__jobs {
  text-align: left;
  list-style: none;
  padding-left: 0;
}
.job {
  display: flex;
  align-items: center;
}
.job__logo {
  margin-right: var(--size-base-space);
}
.job:nth-child(1) .job__logo{
  width: 50px;
  height: 20px;
}
.job:nth-child(2) .job__logo{
  width: 50px;
  height: 30px;
}
.job__name {
  font-size: var(--font-small);
  padding-top: calc(var(--size-base-space) * 3);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-blue-angel);
  color: var(--color-white);
}
.skillset {
  display: flex;
  margin-top: calc(var(--size-base-space) * 3);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-grey);
  padding: var(--size-base-space) calc(var(--size-base-space) * 2);
}
.skillset__right {
  flex-basis: 40%;
}
.skillset__title {
  font-weight: var(--weight-medium);
  color: var(--color-white);
}
.skill__description {
  font-size: var(--font-micro);
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.skill {
  margin-top: var(--size-base-space);
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-light-grey);
  margin: auto;
}
.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}
.tools {
  background-color: var(--color-dark-grey);
  color: var(--color-black);
  padding: var(--size-base-space);
}
.etc {
  background-color: var(--color-light-grey);
  color: var(--color-black);
  padding: var(--size-base-space);
}
.skillset__right h3 {
  color:var(--color-black);
}
.tools__list, .etc__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Work */
.work__categories {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: calc(var(--size-base-space) * 3) 0;
}
.category__btn {
  font-size: var(--font-micro);
  flex-grow: 1;
  border: 1px solid var(--color-dark-grey);
  border-radius: 4px;
  background-color: transparent;
  padding: calc(var(--size-base-space) / 2);
  margin-right: 4px;
}
.category__btn.selected,
.category__btn:hover {
  cursor: pointer;
  background-color: var(--color-dark-grey);
  color: var(--color-white);
}
.category__count {
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  color: var(--color-white);
  border-radius: 50%;
  margin-left: 3px;
}
.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}
.work__projects.anim-out {
  opacity: 0.6;
  transform: scale(0.96) translateY(30px);
}
.project {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 3px;
}
.project.display-none {
  display: none;
}
.project__img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}
.project__description {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  color: white;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
  padding: var(--size-base-space);
}
.project:hover .project__description {
  opacity: 0.8;
}
.project__description h3 {
  color: white;
}
.project__description h3:after {
	content: '';
	width: 25px;
	height: 2px;
	display: block;
  position: relative;
  left: 50%;
  margin-left: -12px;
  margin-top: var(--size-base-space);
	background-color: var(--color-dark-white); 
}

/* Testimonials */
#testimonials {
  background-color: var(--color-light-grey);
  display: flex;
  flex-direction: column;
}
.testimonial {
  display: flex;
  margin: calc(var(--size-base-space) * 2) 0;
}
.testimonial__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 var(--size-base-space);
}
.testimonial__speech-bubble {
  border-radius: 3px;
  padding: var(--size-base-space);
  margin: 0 var(--size-base-space);
  background-color: var(--color-dark-white);
}
.name a {
  text-decoration: none;
  color: var(--color-orange);
}

/* Contact */
#contact {
  background-color: var(--color-carolina-blue);
  padding-bottom: var(--size-base-space);
}
.contact__links a {
  font-size: var(--font-large);
  text-decoration: none;
  color: var(--color-white);
  margin-right: var(--size-base-space);
  transition: transform var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
}
.contact__rights {
  margin-top: var(--size-base-space);
}

/* Arrow up button */
.arrow-up {
  font-size: 35px;
  position: fixed;
  right: 20px;
  bottom: 30px;
  background-color: var(--color-navy);
  color: var(--color-white);
  border: none;
  border-radius: 50%;
  padding-top: 3px;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}
.arrow-up.visible {
  pointer-events: auto;
  opacity: 1;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  /* Nav */
  .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    padding-top: var(--size-base-space);
  }
  #navbar.scrolled .navbar__toggle-btn{
    transform: translateY(-5px);
  }
  #navbar.scrolled .navbar__logo{
    padding: 0;
  }
  .navbar__logo {
    padding: var(--size-base-space);
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .navbar__menu__item {
    background-color: var(--color-jungle-mist);
  }
  /* About */
  .about__major {
    width: 100%;
  }
  /* Work */
  .project {
    flex-grow: 1;
  }
  /* Skills */
  .skillset {
    flex-direction: column;
  }
}